script(src='js/main.js')
script(src="js/swiper-bundle.min.js")
script(src='js/jquery-3.7.1.min.js')
script(src="js/jquery-migrate-1.4.1.min.js")
script(src="js/select2.min.js")
script(src="js/select2.multi-checkboxes.js")
script(src="js/wow.min.js")
script(src="js/main-jquery.js")